@import '../../colors';
@import '../../variables';

#bookmark {

  .bookmark__preview_picture {
    text-align: left;

    .bookmark__preview_picture__img {
      max-height: 200px;
    }

  }

  .bookmark__icon {
    float: left;
    margin-right: 10px;
    img {
      width: 20px;
      height: 20px;
    }
  }

  .bookmark__no_icon {
    float: left;
    width: 20px;
    height: 20px;
  }

  .bookmark__content {
    margin: 0 auto;
    max-width: 800px; // 700 + 50px padding
    padding: 50px; // padding to let white border
    background: #f9f9f9;
    color: $text-color;

    p {
      text-align: justify;
      margin-top: 29px;
    }

    code {
      cursor: pointer;
      background-color: transparent;
      // color: black;
    }

    h2 {
      margin-top: 60px;
    }

    li {
      margin-top: 10px;
    }

    h1 {
      font-family: $font-sans-serif;
      margin-top: 60px;
    }

    h2 {
      font-family: $font-sans-serif;
    }

    h3 {
      font-family: $font-sans-serif;
      font-size: 36px;
      font-weight: 600;
      margin-top: 60px;
    }

    h4 {
      font-family: $font-sans-serif;
      font-size:28px;
      font-style:normal;
      font-weight:300;
      color: rgba(0, 0, 0, .44)!important;
      height:34px;
      letter-spacing:-0.616px;
      line-height:34.16px;
      margin-bottom:0px;
      margin-left:-1.75px;
      margin-right:0px;
      margin-top:30px;
      word-wrap: break-word;
    }

    h5 {
      font-family: $font-sans-serif;
      font-size: 21px;
      font-weight: 600;
      margin-top: 30px;
    }

    td {
      font-family: $font-readable;
      color: $content-text-color;
    }

    p, li, div {
      font-size: 21px;
      line-height: 33.18px;
      font-weight: 400;
      font-family: $font-readable;
      color: $content-text-color;
      -webkit-font-smoothing: antialiased;

      a {
        font-family: $font-readable;
        text-decoration: none;
        // Underline is a custom background
        background-size: 2px 2px;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6) 50%);
        background-repeat: repeat-x;
        background-position: 0 22px;
        color: $content-text-color;
      }

      strong {
        font-family: $font-readable;
        font-weight: 800;
      }
    }

    h2 {
      font-weight: 700;
    }

    iframe, img {
      max-width: 100%;
    }

    // --  Specific styles for bookmark content

    // slides
    $slide_navigation__fullscreen-width: 100px;
    .slide {
      display: none;

    }

    .slide_navigation {
      background-color: $dark-color;
      border: 1px solid #ccc;
      margin-top: 30px;

      .slide_navigation__nav {
        display: inline-block;
        padding-left: $slide_navigation__fullscreen-width;

        .slide_navigation__previous, .slide_navigation__next {
          font-size: 14pt;
          color: white;
          outline: none; // remove blue border when clicked
        }

        .slide_navigation__previous {
          margin-right: 15px;
        }

        .slide_navigation__next {
          margin-left: 15px;
        }

        .slide_navigation__paging {
          color: white;
          line-height: 60px;
        }
      }

      .slide_navigation__fullscreen {
        float: right;
        width: $slide_navigation__fullscreen-width;

        button {
          color: white;
          outline: none; // remove blue border when clicked
        }
      }

    }

  }

  .bookmark__content_slide {
    background: none;
  }

  .bookmark__content_slide.fullScreen {
    background: $dark-color;
  }

  .fullScreen {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    max-width: none;
    text-align: center;
    //background-color: #000000;

    .slide_navigation {
      background-color: white;
      position: absolute;
      left: 20px;
      right: 20px;
      bottom: 10px;
    }
  }
}

.toc {

  li {
    list-style-type: none;
    height: 30px;
    line-height: 30px;
    cursor: pointer;

    &:hover {
      background-color: $main-color;

      a {
        color: white;
      }
    }

    a {
      color: black;
      text-decoration: none;
    }
  }

  .toc__level_h1 {
  }

  .toc__level_h2 {
    padding-left: 15px;
  }

  .toc__level_h3 {
    padding-left: 30px;
  }
}

.bookmark__float_menu {
  position: fixed;
  left: 20px;
  top: 200px;

  ul {
    min-width: 200px;
    list-style-type: none;

    li {
      padding: 10px 15px;
      background-color: $light-grey-color;
      cursor: pointer;

      i {
        margin-right: 10px;
      }

      &:hover {
        background-color: $main-color;
        color: white;
      }
    }
  }
}

.note_editor {
  max-width: 800px;
  width: 100%;
  left: 28%;
  position: fixed;
  bottom: 0;
  height: 40%;
  background-color: white;
  border: 1px solid $hr-color;

  .editor_area {
    height: 100%;

    .editor {
      height: 100%;
      padding: 10px 15px;
    }
  }

  .preview {
    padding: 15px;
    overflow: auto;
  }
}
