@import '../../colors';
@import '../../variables';

#bookmark {

  .bookmark__preview_picture {
    text-align: left;

    .bookmark__preview_picture__img {
      max-height: 200px;
    }

  }

  .bookmark__tag_list {
    //.bookmark__tag {
    //  text-align: right;
    //  -webkit-transition: background 150ms linear;
    //  -moz-transition: background 150ms linear;
    //  transition: background 150ms linear;
    //  background-color: $main-color;
    //  border-radius: 20px;
    //  color: #fff;
    //  cursor: pointer;
    //  display: inline-block;
    //  font-weight: 600;
    //  line-height: 1;
    //  //margin-right: 3px;
    //  margin-top: 3px;
    //  padding: 3px 8px;
    //
    //  &:hover {
    //    background: #465b6b;
    //  }
    //}

    .bookmark__tag {
      font-weight: 600;
      line-height: 1;
      margin-right: 3px;
      padding: 3px 8px;
      -webkit-transition: background 150ms linear;
      -moz-transition: background 150ms linear;
      transition: background 150ms linear;

      a {
        color: white;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .tag_dropdown_menu {
      padding: 0;
      margin: 0!important;

      li {
        text-align: center;
        width: 50px;
        height: 40px;
        font-size: 20pt;
        padding: 0;
        display: inline-block;
        margin: auto;
        text-align: center;

        &:hover {
          background: $main-color;
          cursor: pointer;

          a, span {
            color: white;
          }
        }

        a, span {
          padding: 0;
          color: black;
          line-height: 40px;
        }

      }

    }

  }

  .bookmark__icon {
    float: left;
    margin-right: 10px;
    img {
      width: 20px;
      height: 20px;
    }
  }

  .bookmark__no_icon {
    float: left;
    width: 20px;
    height: 20px;
  }

  .bookmark__content {
    margin: 0 auto;
    max-width: 800px; // 700 + 50px padding
    padding: 50px; // padding to let white border
    background: #f9f9f9;
    color: $text-color;

    p {
      text-align: justify;
      margin-top: 29px;
    }

    code {
      cursor: pointer;
      background-color: transparent;
      color: black;
    }

    h2 {
      margin-top: 60px;
    }

    li {
      margin-top: 10px;
    }

    h1 {
      margin-top: 60px;
    }

    h3 {
      font-size: 26px;
      font-weight: 600;
      margin-top: 60px;
    }

    h5 {
      font-size: 21px;
      font-weight: 600;
      margin-top: 30px;
    }

    p, li, h1, h2, h3, h4, h5, h6, td, div {
      font-family: $font-readable;
      color: $text-color;
    }

    p, li, div {
      font-size: 21px;
      line-height: 1.60;
      font-weight: 400;

      a {
        font-family: $font-readable;
        text-decoration: none;
        // Underline is a custom background
        background-size: 2px 2px;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6) 50%) repeat-x 0 22px;
        color: black;
      }

      strong {
        font-family: $font-readable;
        font-weight: 800;
      }
    }

    h2 {
      font-weight: 700;
    }

    iframe, img {
      max-width: 100%;
    }

    // --  Specific styles for bookmark content

    // slides
    $slide_navigation__fullscreen-width: 100px;
    .slide {
      display: none;

    }

    .slide_navigation {
      background-color: $dark-color;
      border: 1px solid #ccc;
      margin-top: 30px;

      .slide_navigation__nav {
        display: inline-block;
        padding-left: $slide_navigation__fullscreen-width;

        .slide_navigation__previous, .slide_navigation__next {
          font-size: 14pt;
          color: white;
          outline: none; // remove blue border when clicked
        }

        .slide_navigation__previous {
          margin-right: 15px;
        }

        .slide_navigation__next {
          margin-left: 15px;
        }

        .slide_navigation__paging {
          color: white;
          line-height: 60px;
        }
      }

      .slide_navigation__fullscreen {
        float: right;
        width: $slide_navigation__fullscreen-width;

        button {
          color: white;
          outline: none; // remove blue border when clicked
        }
      }

    }

  }

  .bookmark__content_slide {
    background: none;
  }

  .bookmark__content_slide.fullScreen {
    background: $dark-color;
  }

  .fullScreen {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    max-width: none;
    text-align: center;
    //background-color: #000000;

    .slide_navigation {
      background-color: white;
      position: absolute;
      left: 20px;
      right: 20px;
      bottom: 10px;
    }
  }
}

.toc {

  li {
    list-style-type: none;
    height: 30px;
    line-height: 30px;
    cursor: pointer;

    &:hover {
      background-color: $main-color;

      a {
        color: white;
      }
    }

    a {
      color: black;
      text-decoration: none;
    }
  }

  .toc__level_h1 {
  }

  .toc__level_h2 {
    padding-left: 15px;
  }

  .toc__level_h3 {
    padding-left: 30px;
  }
}

.bookmark__float_menu {
  position: fixed;
  left: 20px;
  top: 200px;

  ul {
    min-width: 200px;
    list-style-type: none;

    li {
      padding: 10px 15px;
      background-color: $hr-color;
      cursor: pointer;

      i {
        margin-right: 10px;
      }

      &:hover {
        background-color: $main-color;
        color: white;
      }
    }
  }
}

.note_editor {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40%;
  background-color: white;
  border-top: 1px solid $hr-color;

  .editor_area {
    height: 100%;

    .editor {
      height: 100%;
      padding: 10px 15px;
    }
  }

  .preview {
    padding: 15px;
    overflow: auto;
  }
}
