.bookmark__tag_list {
  //.bookmark__tag {
  //  text-align: right;
  //  -webkit-transition: background 150ms linear;
  //  -moz-transition: background 150ms linear;
  //  transition: background 150ms linear;
  //  background-color: $main-color;
  //  border-radius: 20px;
  //  color: #fff;
  //  cursor: pointer;
  //  display: inline-block;
  //  font-weight: 600;
  //  line-height: 1;
  //  //margin-right: 3px;
  //  margin-top: 3px;
  //  padding: 3px 8px;
  //
  //  &:hover {
  //    background: #465b6b;
  //  }
  //}

  .bookmark__tag {
    font-weight: 600;
    line-height: 1;
    margin-right: 3px;
    padding: 3px 8px;
    -webkit-transition: background 150ms linear;
    -moz-transition: background 150ms linear;
    transition: background 150ms linear;

    a {
      color: white;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .tag_dropdown_menu {
    padding: 0;
    margin: 0!important;

    li {
      text-align: center;
      width: 50px;
      height: 40px;
      font-size: 20pt;
      padding: 0;
      display: inline-block;
      margin: auto;
      text-align: center;

      &:hover {
        background: $main-color;
        cursor: pointer;

        a, span {
          color: white;
        }
      }

      a, span {
        padding: 0;
        color: black;
        line-height: 40px;
      }

    }

  }

}
