$main-color: #4285f4;
$second-color: #009688;
$header-color: #4285f4;
/*$header-color: #3A539B;*/

$red-color: #C0392B;
$text-color: #28343d;

$dark-color: #2f2f2f;

$background-color: #f2f2f2;

$light-grey-color: #f6f6f6;

$hr-color: #eee;
