$main-color: #4285f4;
$second-color: #009688;
$header-color: #4285f4;
/*$header-color: #3A539B;*/

$red-color: #C0392B;
$text-color: #28343d;

$content-text-color: rgba(0, 0, 0, 0.8);

$dark-color: #2f2f2f;

// $background-color: #f2f2f2;
$background-color: #f9f9f9;

$light-grey-color: #f6f6f6;

$hr-color: #eee;
