@import 'colors';

.settings__import_row {
  div {
    height: 100%!important;
    border: none!important;
    cursor: pointer;
  }
}

.settings__import_row, .settings__export_row {
  button {
    color: $text-color!important;

    &:hover {
      color: $main-color!important;
    }
  }
}