@import '../../colors';

#server_error_page {

  .server_error_page__github, .server_error_page__email {
    a {
      color: $text-color;

      &:hover, &:visited, &:active, &:focus {
        color:$main-color;
        text-decoration: none;
      }
    }
  }

}